/* Project Name:One Pages Blog Pages
    Project Author:M.Mehtap Avcı
    Project Year:16.11.2023
    Project Version:1.0
 */

/* Config File */
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    font-family: 'Roboto Slab', serif;
}
html{
    font-size: 15px;
}
.f20{
    font-size: .5rem;
}
/* nav */
nav{
    opacity:.5 ;
}
/* Header */
header .jumbotron{
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: 25% 50%;
    padding:12rem;
    height: 40rem;
    opacity: .7;
    z-index: -1;
    
}
#header-title-btk{
    text-transform:uppercase;
    color: rgb(255, 252, 252);
}
/* breadcrumb */
nav ol.breadcrumb{
    margin-top: -1.2%;
    background-color: black!important;
    opacity: .9;
}
.col-md-8 img:hover{
    opacity: .8;
}
